language: node_js
sudo: required

node_js:
  - 9
  - 8

cache:
  directories:
    - node_modules # NPM Packages

script:
  # - node ./internals/scripts/generate-templates-for-linting
  - npm run test -- -i
  # - npm run build

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

notifications:
  email:
    on_failure: change

after_success: 'npm run coveralls'

#cache:
#yarn: true
#directories:
#- node_modules
